{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>EduGenius - Password Reset</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    {% compress css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endcompress %}


  <style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

    body {
      font-family: "Nunito", sans-serif;
    }

    /* Additional Styles for Modal */
    .hidden {
      display: none;
    }

    .visible {
      display: flex;
    }
  </style>
</head>
<body class="bg-[#111111] text-white text-left rtl:text-righ">
    <div class="container h-screen mx-auto px-4 py-10 lg:w-1/2  flex justify-center items-center ">
        <div class="w-full mx-auto flex flex-col px-20 py-20  bg-black rounded-lg shadow-lg">

            <h2 class="text-2xl font-bold mb-6 ">Reset Your Password</h2>

            <!-- Form submission using HTMX -->
            <form id="reset-password-form" hx-post="/auth/reset-password/{{ uid }}/{{ token }}/"
                hx-target="#response-message" hx-swap="outerHTML" method="POST">

                <div class="mb-4">
                    <label for="new_password" class="block text-white">New Password</label>
                    <input type="password" name="new_password" id="new_password"
                        class="w-full mb-4 p-3 bg-[#333333] text-white rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-[#00FF88]"
                        required>
                </div>

                <div class="mb-4">
                    <label for="re_new_password" class="block text-white">Confirm New Password</label>
                    <input type="password" name="re_new_password" id="re_new_password"
                        class="w-full mb-4 p-3 bg-[#333333] text-white rounded-lg border border-gray-600 focus:outline-none focus:ring-2 focus:ring-[#00FF88]"
                        required>
                </div>

                <!-- CSRF Token -->
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                <button type="submit"
                    class="w-full p-3 bg-[#00FF88] text-black font-bold rounded-lg hover:bg-[#00FF66] transition">Reset
                    Password</button>
            </form>

            <!-- Placeholder for response messages -->
            <div id="response-message" class="mt-4"></div>
        </div>
    </div>
</body>
</html>
